#!/bin/sh
# debian/lilo.config for debconf to be executed before unpacking

set -e

action=$1
version=$2

# debconf
. /usr/share/debconf/confmodule
db_version 2.0

isfresh=0
have_to_run=0

if [ ! -f /etc/lilo.conf ]; then
	isfresh=1
	db_text high lilo/new-config || true
	db_go
else
	if grep -q "^[[:space:]]*large-memory" /etc/lilo.conf; then
		db_set lilo/add_large_memory false
	else
		db_beginblock
		db_text high lilo/add_large_memory || true
		db_endblock
		db_go

		db_get lilo/add_large_memory || true;
		if [ x"$RET" = x"true" ]; then
			have_to_run=1
		fi
	fi

	# Convert old options 'boot' and 'root' to newer diskid or uuid
	if grep -q -E "^boot|^root|^\troot" /etc/lilo.conf; then
		db_beginblock
		db_text high lilo/diskid_uuid || true
		db_endblock
		db_go
	fi
fi

if [ x"$have_to_run" != x"0" ]; then
	db_beginblock	
 	db_input high lilo/runme || true
	db_endblock
	db_go
fi

exit 0
